---
---

@import "{{ site.theme }}";


img {
  background-attachment: fixed;
  margin-left: auto;
  padding: 5px;
  width: 50%;
  height: 3%;
}

footer {
     position: fixed;
     bottom: 60px;
}

/*
.title { 
  color: white; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
} 



.border {
	display:inline-block;
	padding:4% 1% ;
	background: #f8394d;
		
}

.buttons {
  background: #e3e1e1;
  font-size: 100px;
}


#my-portofolio {
	color:white;
	font-size:30px;
	text-align: center;
}

#about-me {
	color:#261d1d;
}


p {
      color:#ffe8d5;
}

#education{
	color:#261d1d;
}

.edulist dt{
	color:#752020;
}

.edulist dd {
	color: #ffb2b2;
}

#technical-skills{
	color:#261d1d;
}

.skills {
	zoom:1;
	display: inline;
	height: 30px;
}

.skills li {
	color:#ffd5b4;
	
}

#relevant-experience {
	color:#261d1d;
}

#titlesub {
	color:#752020;
}
#sub {
	color:#ffb2b2;
	list-style-type:none;
}

#awards-and-acheivements{
	color:#261d1d;
}

.awardlist {
	color:#ffd5b4;
}

#activites-and-events {
	color:#261d1d;
}

.events dt {
	color:#752020;
}
.events dd {
	color:#ffb2b2;
}

#relevant-courses {
	color:#261d1d;
}

.courselist {
	color:#ffd5b4;
}



.skillbar {
    position:relative;
    display:block;
    margin-bottom:17px;
    width:100%;
    background:#9384;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    font-weight:bold;
    font-size:15px;
    color:white;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:33px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
height:35px;
width:0px;
background:pink;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
float: left;
}

.containers {
    min-height: 100%;
      height: 100vh;


}
.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#444;
    color:rgba(0, 0, 0, 0.4);
}

*/

